# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/

# PyTorch
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
*.sqlite
*.cache

# Temporary
*.tmp
*.log
